body {
    background-image: url("F.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;}
    
   img {border-radius: 50%;}

  h1{text-align: center;}
  p{ width: 70%;
}

  .img{  
      float:left;
  
    width:150px;
}

.image{
    margin: 20px;
}

